In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('tmdb.movies.csv', index_col=0)

In [5]:
df.sort_values(by='popularity', ascending=False)
#sorted by the most popular

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
...,...,...,...,...,...,...,...,...,...
13877,[10749],401741,en,Crème Caramel,0.600,2014-05-20,Crème Caramel,5.0,1
13878,[878],401427,en,Elegy,0.600,2014-09-10,Elegy,5.0,1
13879,[35],399054,en,Jaguar,0.600,2014-09-21,Jaguar,5.0,1
13880,[],381154,en,Unleashed! A Dog Dancing Story,0.600,2014-02-13,Unleashed! A Dog Dancing Story,5.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [6]:
df[['title', 'popularity']].sort_values(by='popularity', ascending=False)

                                           title  popularity
23811                     Avengers: Infinity War      80.773
11019                                  John Wick      78.123
23812          Spider-Man: Into the Spider-Verse      60.534
11020  The Hobbit: The Battle of the Five Armies      53.783
5179                                The Avengers      50.289
...                                          ...         ...
13877                              Crème Caramel       0.600
13878                                      Elegy       0.600
13879                                     Jaguar       0.600
13880             Unleashed! A Dog Dancing Story       0.600
26516                                 The Church       0.600

[26517 rows x 2 columns]

In [9]:
df1 = pd.read_csv('bom.movie_gross.csv')

In [10]:
df1

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [11]:
frames = [df, df1]

In [12]:
df_concat = pd.concat(frames)

In [13]:
df_concat

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,studio,domestic_gross,foreign_gross,year
0,"[12, 14, 10751]",12444.0,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788.0,NaN,NaN,NaN,NaN
1,"[14, 12, 16, 10751]",10191.0,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610.0,NaN,NaN,NaN,NaN
2,"[12, 28, 878]",10138.0,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368.0,NaN,NaN,NaN,NaN
3,"[16, 35, 10751]",862.0,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174.0,NaN,NaN,NaN,NaN
4,"[28, 878, 12]",27205.0,en,Inception,27.920,2010-07-16,Inception,8.3,22186.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382,NaN,NaN,NaN,NaN,NaN,NaN,The Quake,NaN,NaN,Magn.,6200.0,NaN,2018.0
3383,NaN,NaN,NaN,NaN,NaN,NaN,Edward II (2018 re-release),NaN,NaN,FM,4800.0,NaN,2018.0
3384,NaN,NaN,NaN,NaN,NaN,NaN,El Pacto,NaN,NaN,Sony,2500.0,NaN,2018.0
3385,NaN,NaN,NaN,NaN,NaN,NaN,The Swan,NaN,NaN,Synergetic,2400.0,NaN,2018.0
3386,NaN,NaN,NaN,NaN,NaN,NaN,An Actor Prepares,NaN,NaN,Grav.,1700.0,NaN,2018.0

In [14]:
new_df = df_concat[['title', 'year', 'studio', 'popularity', 'domestic_gross', 'foreign_gross']].sort_values(by='year', ascending=False)

In [15]:
new_df

,title,year,studio,popularity,domestic_gross,foreign_gross
3386,An Actor Prepares,2018.0,Grav.,NaN,1700.0,NaN
3183,On the Basis of Sex,2018.0,Focus,NaN,24600000.0,13600000
3176,Tyler Perry's Acrimony,2018.0,LGF,NaN,43500000.0,2900000
3177,Mary Queen of Scots,2018.0,Focus,NaN,16500000.0,29900000
3178,The Possession of Hannah Grace,2018.0,SGem,NaN,14800000.0,28200000
...,...,...,...,...,...,...
26512,Laboratory Conditions,NaN,NaN,0.6,NaN,NaN
26513,_EXHIBIT_84xxx_,NaN,NaN,0.6,NaN,NaN
26514,The Last One,NaN,NaN,0.6,NaN,NaN
26515,Trailer Made,NaN,NaN,0.6,NaN,NaN
26516,The Church,NaN,NaN,0.6,NaN,NaN

In [56]:
# limit results to only the past 10 years (2011)
new_df.loc[new_df['year'] >= 2011]

,title,year,studio,popularity,domestic_gross,foreign_gross,total_gross
3386,An Actor Prepares,2018.0,Grav.,NaN,1700.0,0.0,1700.0
3183,On the Basis of Sex,2018.0,Focus,NaN,24600000.0,13600000.0,38200000.0
3176,Tyler Perry's Acrimony,2018.0,LGF,NaN,43500000.0,2900000.0,46400000.0
3177,Mary Queen of Scots,2018.0,Focus,NaN,16500000.0,29900000.0,46400000.0
3178,The Possession of Hannah Grace,2018.0,SGem,NaN,14800000.0,28200000.0,43000000.0
...,...,...,...,...,...,...,...
599,Texas Killing Fields,2011.0,Anch.,NaN,45500.0,912000.0,957500.0
595,Page One: A Year Inside the New York Times,2011.0,Magn.,NaN,1100000.0,0.0,1100000.0
593,There Be Dragons,2011.0,Gold.,NaN,1100000.0,0.0,1100000.0
596,The Time That Remains,2011.0,IFC,NaN,32900.0,1000000.0,1032900.0
594,Vanishing on 7th Street,2011.0,Magn.,NaN,22700.0,1000000.0,1022700.0

In [69]:
# convert the domestic gross column to a numeric column so it can be added to the foreign gross column
new_df['domestic_gross'] = pd.to_numeric(new_df['domestic_gross'])
new_df['domestic_gross'] = new_df['domestic_gross'].fillna(0)

# remove commas from foreign gross and convert to a numeric column
new_df['foreign_gross'].replace(',','', regex=True, inplace=True)
new_df['foreign_gross'] = pd.to_numeric(new_df['foreign_gross'])
new_df['foreign_gross'] = new_df['foreign_gross'].fillna(0)

# create a new column adding the domestic and foreign gross values together to show each title's total gross 
new_df['total_gross'] = new_df['domestic_gross'] + new_df['foreign_gross']
new_df[['title', 'year', 'studio', 'popularity', 'total_gross']]

,title,year,studio,popularity,total_gross
3386,An Actor Prepares,2018.0,Grav.,NaN,1700.0
3183,On the Basis of Sex,2018.0,Focus,NaN,38200000.0
3176,Tyler Perry's Acrimony,2018.0,LGF,NaN,46400000.0
3177,Mary Queen of Scots,2018.0,Focus,NaN,46400000.0
3178,The Possession of Hannah Grace,2018.0,SGem,NaN,43000000.0
...,...,...,...,...,...
599,Texas Killing Fields,2011.0,Anch.,NaN,957500.0
595,Page One: A Year Inside the New York Times,2011.0,Magn.,NaN,1100000.0
593,There Be Dragons,2011.0,Gold.,NaN,1100000.0
596,The Time That Remains,2011.0,IFC,NaN,1032900.0
594,Vanishing on 7th Street,2011.0,Magn.,NaN,1022700.0

In [72]:
new_df = new_df.sort_values(by='total_gross', ascending=False)
new_df[['title', 'studio', 'total_gross']]

                                            title studio   total_gross
727                         Marvel's The Avengers     BV  1.518900e+09
1875                      Avengers: Age of Ultron     BV  1.405400e+09
3080                                Black Panther     BV  1.347000e+09
328   Harry Potter and the Deathly Hallows Part 2     WB  1.341500e+09
2758                     Star Wars: The Last Jedi     BV  1.332600e+09
...                                           ...    ...           ...
3078                                         2:22  Magn.  4.000000e+02
2757                                      Satanic  Magn.  3.000000e+02
2756                        News From Planet Mars     KL  3.000000e+02
2321                              The Chambermaid     FM  3.000000e+02
1476                                   Storage 24  Magn.  1.000000e+02

[3059 rows x 3 columns]

In [82]:
new_df['studio'].value_counts()

IFC         144
Uni.        132
WB          121
Magn.       120
Fox         119
           ...
Libre         1
Arrow         1
SHO           1
GrtIndia      1
TVC           1
Name: studio, Length: 238, dtype: int64

In [74]:
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

# Find top 20 studios with movies that are making the most profits