In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')

In [24]:
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [25]:
df['box_office'].isna().sum()

1220

In [26]:
df['box_office'] = df['box_office'].fillna(0)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    1560 non-null   object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [30]:
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,0,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,0,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,0,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,0,200 minutes,NaN

In [31]:
df['currency'] = df['currency'].fillna(' ')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      1560 non-null   object
 9   box_office    1560 non-null   object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [33]:
df['genre'].value_counts()

Drama                                                                151
Comedy                                                               110
Comedy|Drama                                                          80
Drama|Mystery and Suspense                                            67
Art House and International|Drama                                     62
                                                                    ...
Comedy|Western                                                         1
Documentary|Special Interest|Television                                1
Action and Adventure|Animation|Comedy|Science Fiction and Fantasy      1
Comedy|Cult Movies|Drama                                               1
Classics|Drama|Science Fiction and Fantasy                             1
Name: genre, Length: 299, dtype: int64

In [35]:
df_drama = df.loc[df['genre'] == 'Drama']

In [36]:
df_drama

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
25,35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999","Jan 18, 2000",,0,110 minutes,NaN
28,40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003","Apr 13, 2004",$,"312,136",95 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1931,Mark Felt - The Man Who Brought Down the White...,PG-13,Drama,Peter Landesman,Peter Landesman,"Sep 29, 2017","Jan 9, 2018",$,"766,428",NaN,Sony Pictures Classics
1522,1958,Twenty-nine-year-old Iranian-American writer C...,G,Drama,Amir Motlagh,Amir Motlagh,NaN,NaN,,0,74 minutes,NaN
1523,1959,This provocative British comedy-drama provides...,R,Drama,Michael Winterbottom,Paul Powell,"Jun 1, 1998","Jun 8, 1999",,0,90 minutes,NaN
1524,1960,SELMA is the story of a movement. The film chr...,PG-13,Drama,Ava DuVernay,Paul Webb,"Jan 9, 2015","May 5, 2015",,0,127 minutes,Paramount Pictures
1525,1961,"It is 1939, and the Red Army is deeply engaged...",NR,Drama,Zhang Jun Zhao,NaN,NaN,NaN,,0,90 minutes,NaN

In [46]:
df_drama[['genre', 'box_office']].sort_values(by='genre', ascending=False)

      genre  box_office
7     Drama     224,114
955   Drama     541,457
981   Drama           0
983   Drama           0
1002  Drama           0
...     ...         ...
617   Drama           0
618   Drama           0
622   Drama   1,940,202
632   Drama  22,877,808
1525  Drama           0

[151 rows x 2 columns]

In [48]:
df_drama['box_office'] = pd.to_numeric(df_drama['box_office'])

ValueError: Unable to parse string "224,114" at position 0

In [59]:
type(df_drama['box_office'])

pandas.core.series.Series

In [66]:
box_office_list = list(df_drama['box_office'].values)

In [67]:
for i in range(0, len(box_office_list)):
    test_list[i] = int(box_office_list[i])

ValueError: invalid literal for int() with base 10: '224,114'

In [73]:
df_drama['box_office']=df_drama['box_office'].str.replace(',','')

<ipython-input-73-6256fb0ab467>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drama['box_office']=df_drama['box_office'].str.replace(',','')

In [75]:
df_drama['box_office'].isna().sum()

103

In [76]:
df_drama['box_office'] = df_drama['box_office'].fillna(0)

<ipython-input-76-85a679edb142>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drama['box_office'] = df_drama['box_office'].fillna(0)

In [77]:
df_drama['box_office'].isna().sum()

0

In [78]:
df_drama

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,224114,123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,134904,117 minutes,NaN
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,99165609,129 minutes,Sony Pictures
25,35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999","Jan 18, 2000",,0,110 minutes,NaN
28,40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003","Apr 13, 2004",$,312136,95 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1931,Mark Felt - The Man Who Brought Down the White...,PG-13,Drama,Peter Landesman,Peter Landesman,"Sep 29, 2017","Jan 9, 2018",$,766428,NaN,Sony Pictures Classics
1522,1958,Twenty-nine-year-old Iranian-American writer C...,G,Drama,Amir Motlagh,Amir Motlagh,NaN,NaN,,0,74 minutes,NaN
1523,1959,This provocative British comedy-drama provides...,R,Drama,Michael Winterbottom,Paul Powell,"Jun 1, 1998","Jun 8, 1999",,0,90 minutes,NaN
1524,1960,SELMA is the story of a movement. The film chr...,PG-13,Drama,Ava DuVernay,Paul Webb,"Jan 9, 2015","May 5, 2015",,0,127 minutes,Paramount Pictures
1525,1961,"It is 1939, and the Red Army is deeply engaged...",NR,Drama,Zhang Jun Zhao,NaN,NaN,NaN,,0,90 minutes,NaN

In [81]:
df_drama.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 7 to 1525
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            151 non-null    int64
 1   synopsis      142 non-null    object
 2   rating        151 non-null    object
 3   genre         151 non-null    object
 4   director      135 non-null    object
 5   writer        119 non-null    object
 6   theater_date  103 non-null    object
 7   dvd_date      103 non-null    object
 8   currency      151 non-null    object
 9   box_office    151 non-null    object
 10  runtime       146 non-null    object
 11  studio        67 non-null     object
dtypes: int64(1), object(11)
memory usage: 20.3+ KB

In [82]:
df_drama['box_office'] = pd.to_numeric(df_drama['box_office'])

<ipython-input-82-3b0393c38517>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drama['box_office'] = pd.to_numeric(df_drama['box_office'])

In [83]:
df_drama.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 7 to 1525
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            151 non-null    int64
 1   synopsis      142 non-null    object
 2   rating        151 non-null    object
 3   genre         151 non-null    object
 4   director      135 non-null    object
 5   writer        119 non-null    object
 6   theater_date  103 non-null    object
 7   dvd_date      103 non-null    object
 8   currency      151 non-null    object
 9   box_office    151 non-null    int64
 10  runtime       146 non-null    object
 11  studio        67 non-null     object
dtypes: int64(2), object(10)
memory usage: 20.3+ KB

In [90]:
genre_box_office = df_drama[['genre', 'box_office', 'dvd_date']].sort_values(by='box_office', ascending=False)

In [91]:
genre_box_office.head()
#This tells us the top 5 films that made the most at the box office

      genre  box_office      dvd_date
827   Drama   368000000  Aug 31, 2004
1019  Drama   116638030  Mar 18, 2003
16    Drama    99165609  Mar 18, 2014
1328  Drama    81157671   Mar 1, 2016
230   Drama    80574010  Nov 23, 2010

In [98]:
genre_box_office['dvd_date'].isna().sum()

48

In [99]:
genre_box_office['dvd_date'] = genre_box_office['dvd_date'].fillna(0)

In [100]:
genre_box_office['dvd_date'].isna().sum()

0

In [107]:
genre_box_office['dvd_date'].values

array(['Aug 31, 2004', 'Mar 18, 2003', 'Mar 18, 2014', 'Mar 1, 2016',
       'Nov 23, 2010', 'Jun 21, 2005', 'Jan 27, 2004', 'May 22, 2018',
       'Jun 1, 2004', 'Jun 19, 2001', 'Jun 2, 2009', 'Jan 6, 2015',
       'May 5, 2015', 'Oct 11, 2016', 'Jun 14, 2016', 'Feb 25, 2014',
       'Jun 26, 2007', 'Mar 12, 2013', 'Jul 13, 2004', 'Jul 4, 2006',
       'May 15, 2012', 'Nov 30, 2004', 'Apr 22, 2011', 'Jun 27, 2017',
       'Dec 27, 2016', 'Feb 2, 2016', 'Feb 14, 2017', 0, 'Jan 12, 2015',
       'Jul 17, 2007', 'Dec 14, 2010', 'Jan 9, 2018', 'Jun 9, 2009',
       'Feb 7, 2017', 'Mar 9, 2010', 'Nov 22, 2016', 'Oct 13, 2009',
       'Sep 9, 2014', 'Mar 1, 2016', 'Apr 13, 2004', 'Apr 5, 2005',
       'Oct 2, 2007', 'Oct 7, 2003', 'Dec 17, 2013', 'Nov 9, 2010',
       'Mar 22, 2016', 'Dec 10, 2013', 'Feb 24, 2004', 0, 'Mar 18, 2003',
       'Aug 28, 2018', 0, 0, 'Dec 20, 2005', 0, 'Jun 25, 2002',
       'Feb 16, 2016', 0, 'Nov 16, 2004', 0, 0, 0, 'Jun 8, 1999',
       'Oct 14, 2003', 'May 5, 2015', 0, 0, 'Apr 16, 2002', 'Aug 7, 2018',
       'Oct 20, 2015', 'Jan 15, 2002', 0, 0, 0, 'Mar 23, 1999', 0,
       'May 12, 2015', 0, 0, 'Feb 15, 2000', 0, 'Sep 2, 2003', 0,
       'Dec 3, 2018', 0, 'Mar 14, 1995', 0, 0, 0, 0, 0, 0, 'Mar 19, 2002',
       'Oct 9, 2001', 0, 'May 8, 2001', 0, 0, 'Oct 10, 2000',
       'Feb 12, 2002', 'Nov 6, 2001', 0, 'Feb 13, 2012', 'Mar 9, 2004',
       'Jun 12, 2018', 'Apr 6, 2004', 'Jul 10, 2001', 0, 'Apr 20, 2004',
       'Apr 22, 2003', 0, 'Oct 31, 2006', 'Mar 7, 2017', 0, 0,
       'Mar 30, 1999', 0, 0, 'May 19, 1998', 'Jan 18, 2000',
       'Aug 10, 2010', 0, 'Mar 20, 2001', 'Apr 3, 2001', 'Jul 10, 2001',
       0, 'Aug 12, 2003', 0, 'Nov 5, 2013', 'Feb 18, 2003',
       'Apr 15, 2014', 'Jun 6, 2000', 'Apr 25, 2000', 'Feb 10, 2004',
       'Feb 13, 2001', 'Feb 18, 2003', 'Jul 31, 2018', 0, 'Nov 17, 2015',
       0, 'Aug 26, 2008', 'Nov 6, 2001', 0, 'Jun 13, 1991', 0,
       'Aug 21, 2018', 0, 0, 0, 0, 0], dtype=object)