In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('bom.movie_gross.csv.gz')

In [35]:
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [36]:
df1 = df[['title', 'domestic_gross', 'foreign_gross', 'year']]
#dataframe that excludes the studio column.

In [37]:
df1

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000,2010
1,Alice in Wonderland (2010),334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000,2010
3,Inception,292600000.0,535700000,2010
4,Shrek Forever After,238700000.0,513900000,2010
...,...,...,...,...
3382,The Quake,6200.0,NaN,2018
3383,Edward II (2018 re-release),4800.0,NaN,2018
3384,El Pacto,2500.0,NaN,2018
3385,The Swan,2400.0,NaN,2018
3386,An Actor Prepares,1700.0,NaN,2018

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2037 non-null   object
 3   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 106.0+ KB

In [39]:
df1 = df1.dropna(axis=0, subset = ['foreign_gross'])

In [40]:
df1

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000,2010
1,Alice in Wonderland (2010),334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000,2010
3,Inception,292600000.0,535700000,2010
4,Shrek Forever After,238700000.0,513900000,2010
...,...,...,...,...
3275,I Still See You,1400.0,1500000,2018
3286,The Catcher Was a Spy,725000.0,229000,2018
3309,Time Freak,10000.0,256000,2018
3342,Reign of Judges: Title of Liberty - Concept Short,93200.0,5200,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,43200.0,30000,2018

In [41]:
import numpy as np

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [42]:
df1['foreign_gross'] = df1['foreign_gross'].fillna(0)

<ipython-input-42-09e726db202d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['foreign_gross'] = df1['foreign_gross'].fillna(0)

In [47]:
df1['foreign_gross'].isna().sum()

0

In [60]:
df1.iloc[1300]

title             Star Wars: The Force Awakens
domestic_gross                       9.367e+08
foreign_gross                          1,131.6
year                                      2015
Name: 1872, dtype: object

In [63]:
df1.head(1200)

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000,2010
1,Alice in Wonderland (2010),334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000,2010
3,Inception,292600000.0,535700000,2010
4,Shrek Forever After,238700000.0,513900000,2010
...,...,...,...,...
1611,On the Other Side of the Tracks,9600.0,25100000,2014
1612,The Players,10900.0,24600000,2014
1613,The Tale of The Princess Kaguya,703000.0,23500000,2014
1614,A Haunted House 2,17300000.0,6600000,2014
1615,The Railway Man,4400000.0,17900000,2014

In [66]:
df1 = df1.head(1200)

In [68]:
df1['foreign_gross'] = pd.to_numeric(df1['foreign_gross'])

<ipython-input-68-c7942617a0a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['foreign_gross'] = pd.to_numeric(df1['foreign_gross'])

In [69]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1615
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1200 non-null   object
 1   domestic_gross  1181 non-null   float64
 2   foreign_gross   1200 non-null   int64
 3   year            1200 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 46.9+ KB

In [74]:
df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

<ipython-input-74-639b6fcb0f61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

In [90]:
df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

<ipython-input-90-639b6fcb0f61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

In [92]:
df1['domestic_gross'] = df1['domestic_gross'].fillna(0)

<ipython-input-92-16d6d167d18a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['domestic_gross'] = df1['domestic_gross'].fillna(0)

In [93]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1615
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1200 non-null   object
 1   domestic_gross  1200 non-null   float64
 2   foreign_gross   1200 non-null   int64
 3   year            1200 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 46.9+ KB

In [94]:
df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

<ipython-input-94-639b6fcb0f61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['domestic_gross'] = pd.to_numeric(df1['domestic_gross'])

In [95]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1615
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1200 non-null   object
 1   domestic_gross  1200 non-null   float64
 2   foreign_gross   1200 non-null   int64
 3   year            1200 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 46.9+ KB

In [97]:
df1['total_gross'] = df1['domestic_gross'] + df1['foreign_gross']

<ipython-input-97-ae7eecbf1412>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['total_gross'] = df1['domestic_gross'] + df1['foreign_gross']

In [105]:
df1

,title,domestic_gross,foreign_gross,year,total_gross
0,Toy Story 3,415000000.0,652000000,2010,1.067000e+09
1,Alice in Wonderland (2010),334200000.0,691300000,2010,1.025500e+09
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000,2010,9.603000e+08
3,Inception,292600000.0,535700000,2010,8.283000e+08
4,Shrek Forever After,238700000.0,513900000,2010,7.526000e+08
...,...,...,...,...,...
1611,On the Other Side of the Tracks,9600.0,25100000,2014,2.510960e+07
1612,The Players,10900.0,24600000,2014,2.461090e+07
1613,The Tale of The Princess Kaguya,703000.0,23500000,2014,2.420300e+07
1614,A Haunted House 2,17300000.0,6600000,2014,2.390000e+07
1615,The Railway Man,4400000.0,17900000,2014,2.230000e+07

In [106]:
#next step is to make total_gross readable and understanding what the '+09' means.